.main-header {
  text-align: center;
}

p {
  font-family: "Arial", sans-serif;
  color: white;
}

h2 {
  font-family: "Arial Black", sans-serif;
  text-align: center;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: white;
  color: black;
 }

a:link {
  color: #ffb6c1; 
}

a:visited {
  color: #a9f656;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
