.main-header {
  text-align: center;
}

body {
  color: white;
}

h2 {
  font-family: "Arial Black", sans-serif;
  text-align: center;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: white;
  color: black;
 }

https://i.imgur.com/LRcHxhs.jpg.resize {
    width:1200px; 
    height: auto;
}
